body {
    font-family: sans-serif;
    background-image: linear-gradient(				
#FB000D,#284B7E,#65EC3B);
}


header a {
    padding: 10px;
    font-size: 22px;
    text-decoration: none;
    background-color: white;
    border-radius: 10px;
}

header {
    background-color: aquamarine;
    padding: 30px;
    border-radius: 10px;
    position: relative;
    margin: 15px;
}

h1, li, p {
    color: white;
}

.colo {
    position: absolute; 
    top: 15px;
    right: 10px;
}

h1 {
    text-align: center;
}


nav a {
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    font-size: 14px;
    text-decoration: none;
}

.link-nav-1 {
    font-size: 15px;
    float: left;
    color:darkslategrey;
}

.link-nav-2 {
    font-size: 15px;
    float: right;
    color:darkslategray;
}

ol {
    font-size: 18px;
    background-color: rgb(143, 12, 130);
    border-radius: 19px;
}

ul {
    font-size: 18px;
    background-color: rgb(143, 12, 130);
    border-radius: 19px;
}
